/*noinspection CssUnusedSymbol*/
.windage-negative {
    color: #00c0ff;
}

/*noinspection CssUnusedSymbol*/
.windage-positive {
    color: red;
}

[data-bs-theme=dark] {
    --bs-form-control-bg: var(--bs-body-bg);
}